.header__lang-link {
  margin-right: 18px;
  font-size: 24px;
  font-style: normal;
  line-height: 1.17;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  transition: .350s ease;
}

.header__lang-link:last-child {
  margin-right: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

