@import url(../vendor/normalize.css);

.root {
    width: 1024px;
    max-height: 6895px;
    background: #2A2C2F;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
    width: 928px;
    height: 52px;
    margin: 28px 48px 0px 48px;
}

.header__logo {
    width: 176px;
    height: 52px;
    align-self: start;
}

.header__lang-link {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
}

.header__lang-link_lang_ru {
    position: absolute;
    width: 30px;
    height: 28px;
    left: 899px;
    top: 46px;
    text-decoration-line: underline;
}

.header__lang-link_lang_en {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 947px;
    top: 46px;
}

.lead {
    width: 984px;
    height: 1005px;
    left: 148px;
    top: 136px;
}

.lead__title {
    position: relative;
    width: 720px;
    height: 200px;
    left: 280px;
    top: 136px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */

    text-align: center;

    color: #FFFFFF;
}

.lead__subtitle {
    position: relative;
    width: 640px;
    height: 72px;
    left: 320px;
    top: 368px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */

    text-align: center;

    color: #FFFFFF;
}

.lead__image {
    position: relative;
    width: 984px;
    height: 615px;
    left: 148px;
    top: 504px;
}

.lead__caption {
    position: relative;
    width: 158px;
    height: 14px;
    left: 148px;
    top: 1127px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.intro {
    position: relative;
    width: 690px;
    height: 429px;
    left: 148px;
    top: 1233px;
}

.intro__title {
    position: relative;
    width: 690px;
    height: 58px;
    left: 148px;
    top: 1233px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */


    color: #FFFFFF;
}

.intro__text {
    position: relative;
    width: 690px;
    height: 208px;
    left: 148px;
    top: 1331px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */


    color: #FFFFFF;
}

.intro__list {
    position: relative;
    width: 690px;
    height: 90px;
    left: 148px;
    top: 1572px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */


    color: #FFFFFF;
}

.photo-grid {
    position: relative;
    width: 1184px;
    height: 671px;
    left: 48px;
    top: 1754px;
}

.photo-grid__item {
    position: relative;
    width: 284px;
    height: 213px;
    left: 48px;
    top: 1754px;
}