.cover__content {
  margin: 0 auto;
  max-width: 560px;
  padding-top: 245px;
  padding-bottom: 245px;
  position: relative;
  z-index: 2;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__content {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__content {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__content {
    padding-top: 33px;
    padding-bottom: 33px;
    max-width: 288px;
  }
}
